* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: miami;
  src: url("../font/Real\ Miami.ttf") format("truetype");
}

/* Header */
.header {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/donation0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.banner-title {
  color: white;
  font-size: 68px;
  margin-bottom: 20px;
  font-family: miami;
  font-weight: 300;
}

.banner-description {
  color: white;
  font-size: 14px;
  width: 60%;
  text-align: center;
  margin-bottom: 30px;
}

.banner-btn,
.primary-btn {
  background-color: tomato;
  border: 2px solid transparent;
  padding: 15px 20px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-btn:hover {
  border: 2px solid tomato;
  background-color: transparent;
  color: tomato;
}

/* Donate Today */
.donate {
  width: 100%;
}

.donate-container {
  width: 1070px;
  margin: 0 auto;
  padding: 80px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 15px;
  font-family: miami;
  font-weight: 300;
}

.section-description {
  text-align: center;
  font-size: 14px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: gray;
}

.money-container {
  width: 850px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.money-amount {
  border: 2px solid transparent;
  background-color: lightgray;
  padding: 35px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.money-amount:hover {
  background-color: rgb(228, 196, 191);
  border: 2px solid tomato;
  color: tomato;
}

.money {
  font-size: 26px;
  font-weight: 900;
  color: rgb(70, 68, 68);
  transition: all 0.3s;
}

.money-amount:hover .money {
  color: tomato;
}

.money-amount-2 {
  background-color: rgb(228, 196, 191);
  border: 2px solid tomato;
}

.money-amount-2 .money {
  color: tomato;
}

input[type="number"] {
  border: none;
  padding: 10px 5px;
  width: 250px;
  margin: 0 auto;
}

input::placeholder {
  font-size: 16px;
  color: lightgray;
  text-align: center;
}

hr {
  width: 850px;
  height: 2px;
  margin: 5px 0px 40px 0px;
}

.donate-container button {
  margin-bottom: 10px;
}

/* Donate Plan */
.donate-plan {
  width: 100%;
}

.donate-plan-container {
  width: 1070px;
  margin: 0 auto;
  padding: 60px 0px;
}

.donate-plan-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.donate-plan-card {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.donate-plan-card img {
  width: 50px;
  height: 50px;
}

.donate-plan-card-1 {
  background-color: rgb(203, 225, 233);
}

.donate-plan-card-2 {
  background-color: rgb(247, 226, 229);
}

.donate-plan-card-3 {
  background-color: rgb(250, 228, 219);
}

.donate-plan-card-title {
  margin-top: 15px;
}

.donate-plan-card-description {
  color: gray;
}

/* Their lives */
.lives {
  width: 100%;
  height: 100vh;
  padding: 80px 0px;
}

.lives-container {
  width: 1070px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lives-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  width: 50%;
}

.lives-title {
  font-size: 46px;
  margin-bottom: 20px;
  font-family: miami;
  font-weight: 300;
}

.lives-description {
  width: 70%;
  margin: 10px 0px;
}

.lives-content button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.lives-img {
  width: 50%;
}

.lives-img img {
  width: 100%;
}

/* They Need */
.need {
  width: 100%;
  height: 100vh;
  padding: 80px 0px;
}

.need-container {
  width: 1070px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.need-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  margin-left: 100px;
}

.need-title {
  font-size: 46px;
  margin-bottom: 20px;
  font-family: miami;
  font-weight: 300;
}

.need-description {
  width: 80%;
  margin: 10px 0px;
}

.need-content button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.need-img {
  width: 100%;
  height: 60vh;
}

.need-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Updates */
.updates {
  width: 100%;
  padding: 80px 0px;
}

.updates-container {
  width: 850px;
  margin: 0 auto;
}

.input-container {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 50px;
}

input[type="email"] {
  width: 250px;
  padding: 20px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: lightgray;
}

input[type="email"]::placeholder {
  color: gray;
  font-weight: 700;
  text-align: start;
}

.input-container button {
  border-radius: 0px 5px 5px 0px;
}

input[type="email"]:focus {
  outline: none;
  border: 2px solid tomato;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0 0 10px rgb(221, 215, 215);
}
